body {
  background-color: #161622;
  font-family: 'New Rocker', cursive;
  font-size: 30px;
}

#container {
  background-image: url("../img/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parent-sketch-holder {
  perspective: 1000px;
}

#sketch-holder {
  transform: rotateX(50deg);
}

.darkMode {
  background-color: #343a40!important;
  color: white;
}