<!DOCTYPE html>
<html lang="eng">

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/png" href="img/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=New+Rocker&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quantum Hero</title>
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="img/favicon.png" height="20px">
      Quantum Hero
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav navbar-right">
      </ul>
    </div>
  </nav>
  <div class="col-lg-12" id="container">
    <section class="row" id="page">
      <div class="col-4 offset-4" id="parent-sketch-holder">
        <div id="sketch-holder"></div>
      </div>
    </section>
    <div class="row">
      <div class="col-12 ">
        <div class="progress darkMode">
          <div class="progress-bar neon-bg" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 offset-4 messages">
          <div class="neon-text text-center msg-5 invisible">
            END!
          </div>
          <div class="neon-text text-center msg-0 invisible">
            READY!
          </div>
          <div class="neon-text text-center msg-1 invisible">
            3
          </div>
          <div class="neon-text text-center msg-2 invisible">
            2
          </div>
          <div class="neon-text text-center msg-3 invisible">
            1
          </div>
          <div class="neon-text text-center msg-4 invisible">
            GO!
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="myModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header darkMode">
          <h5 class="modal-title darkMode">Start Menu</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body darkMode">
          <p>Ready to enangle your notes?</p>
        </div>
        <div class="modal-footer darkMode">
          <button type="button" class="btn btn-primary start-btn" data-dismiss="modal">READY!!!</button>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- scripts -->
<script src="js/variables.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/p5.js"></script>
<script src="js/p5.sound.js"></script>
<script src="js/Cells.js"></script>
<script src="js/Profile.js"></script>
<script src="js/sketch.js"></script>
<script src="js/main.js"></script>

</html>